body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#tasks {
  text-align: left;
  padding-left: 80px;
  
}

#leaderboard {
  text-align: left;
  padding-left: 20px;
}

#quickstart-sign-in {
  color: white;
}

#sign_in_text {
  color: white;
  padding: 0px;
  margin: 0px;
}

.container {
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  color: #00B7FF;
}

#navigation {
  background-color: purple;
  padding: 10px;
  color: white;
}
